<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SG.PhotoVerification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SG.PhotoVerification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SG.PhotoVerification.Properties.Settings>
            <setting name="BackgroundSubduedOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="BackgroundSubduedBlur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="UICulture" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="LicenseFilename" serializeAs="String">
                <value>SG.PhotoVerification.license</value>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value>MIIBKjCB4wYHKoZIzj0CATCB1wIBATAsBgcqhkjOPQEBAiEA/////wAAAAEAAAAAAAAAAAAAAAD///////////////8wWwQg/////wAAAAEAAAAAAAAAAAAAAAD///////////////wEIFrGNdiqOpPns+u9VXaYhrxlHQawzFOw9jvOPD4n0mBLAxUAxJ02CIbnBJNqZnjhE50mt4GffpAEIQNrF9Hy4SxCR/i85uVjpEDydwN9gS3rM6D0oTlF2JjClgIhAP////8AAAAA//////////+85vqtpxeehPO5ysL8YyVRAgEBA0IABDGhYr4eVRNxi9iYIYSM3+9+GvV3q63LdN6bULegmMzh4CZtFrujsfeOVdLpiAcyDD12hWtTQOHpMhWelmtZVy8=</value>
            </setting>
            <setting name="CustomerName" serializeAs="String">
                <value>The Acme Company</value>
            </setting>
            <setting name="CustomerEmail" serializeAs="String">
                <value>RoadRunner@Acme.com</value>
            </setting>
        </SG.PhotoVerification.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup><userSettings>
        <SG.PhotoVerification.Properties.Settings>
            <setting name="ThemeVariation" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Expression_Dark</value>
            </setting>
        </SG.PhotoVerification.Properties.Settings>
    </userSettings>
</configuration>
