<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GalaxySMS.ClientAPI.Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CustomInspectorBehavior">
					<CustomInspectorBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="CustomInspectorBehavior" type="GCS.Core.Common.ServiceModel.Extensions.ApplicationUserSessionHeaderInspectorBehaviorExtension,GCS.Core.Common.ServiceModel" />
			</behaviorExtensions>
		</extensions>

		<client>
			<endpoint address="net.tcp://localhost:8010/AccountService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAccountService" />
			<endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationManagerService" />
			<endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerEventsService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationEventService" />
			<endpoint address="net.tcp://localhost:8010/AdministrationService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAdministrationService" behaviorConfiguration="CustomInspectorBehavior" />
			<endpoint address="net.tcp://localhost:8010/UserSessionService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IUserSessionService" behaviorConfiguration="CustomInspectorBehavior" />
			<endpoint address="net.tcp://localhost:8010/SystemManagementService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.ISystemManagementService" behaviorConfiguration="CustomInspectorBehavior" />
		</client>
		<bindings>
			<netTcpBinding>
				<binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transactionFlow="true" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
					<reliableSession enabled="true" />
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<applicationSettings>
		<GalaxySMS.ClientAPI.Sample.Properties.Settings>
   <setting name="ServerAddress" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="ServerPort" serializeAs="String">
    <value>8010</value>
   </setting>
   <setting name="ApiServerUrl" serializeAs="String">
    <value>http://localhost:38002</value>
   </setting>
   <setting name="SignalRServerUrl" serializeAs="String">
    <value>http://localhost:38000</value>
   </setting>
   <setting name="Culture" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="UICulture" serializeAs="String">
    <value>en-US</value>
   </setting>
  </GalaxySMS.ClientAPI.Sample.Properties.Settings>
	</applicationSettings>

	<appSettings>
		<!--<add key="serilog:minimum-level" value="Information" />-->
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<!--<add key="serilog:write-to:File" value="Serilog.Sinks.File" />-->
		<add key="serilog:write-to:File.path" value="%LOCALAPPDATA%/GCS/LogFiles/Client/GalaxySMS.MonitorManager/GalaxySMS.MonitorManager-.log" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
		<!-- Number of log files to keep (or remove value to keep all files) -->
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:File.shared" value="true" />
		<!-- Create a new log file every Minute/Hour/Day/Month/Year/infinite -->
		<!--<add key="serilog:using:MSSqlServer" value="Serilog.Sinks.MSSqlServer" />
		<add key="serilog:write-to:MSSqlServer.connectionString" value="Data Source=.\SQL2019DEV;Initial Catalog=GalaxySMS-Logging;Integrated Security=true;MultipleActiveResultSets=true;Encrypt=false" />
		<add key="serilog:write-to:MSSqlServer.schemaName" value="GCS" />
		<add key="serilog:write-to:MSSqlServer.tableName" value="SmsMonitorMgrLogs" />
		<add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="false" />
		<add key="serilog:write-to:MSSqlServer.levelSwitch" value="Information" />-->
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="2.0.12.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SmartCard" publicKeyToken="d368068d0805a1c4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.18.618" newVersion="5.0.18.618" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CardModule.CLICS" publicKeyToken="d368068d0805a1c4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.17.602" newVersion="1.0.17.602" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SPECSID.Shared" publicKeyToken="755fb195d57d73f3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.15.0" newVersion="1.1.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
