<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GCS.messageQueue.messaging" type="GCS.Framework.MessageQueue.Messaging.Configuration.MessagingConfiguration, GCS.Framework.MessageQueue.Messaging" />
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />-->
    <section name="PDSADataProviders" type="PDSA.DataLayer.Configuration.PDSADataSectionHandler, PDSA.DataLayer, Culture=Neutral" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GalaxySMS.MessageQueue.Handler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="title" value="GalaxySMS.MessageQueue.Processor" />
    <add key="listenOnQueueName" value="galaxypanelmessage" />
    <add key="useSignalR" value="true" />
    <add key="apiUrl" value="http://localhost:38002" />
    <add key="signalRPort" value="38000" />
    <add key="signalRReconnectSeconds" value="15" />
    <add key="signalRLogFolder" value="GCS/LogFiles/Server/GalaxySMS.Processor" />
    <add key="signalRLogFilename" value="GalaxySMS.Processor.SignalRClient.log" />
    <!--<add key="log4net.Internal.Debug" value="false" />-->
    <!--<add key="serilog:minimum-level" value="Information" />-->
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <!--<add key="serilog:write-to:File" value="Serilog.Sinks.File" />-->
    <add key="serilog:write-to:File.path" value="%LOCALAPPDATA%/GCS/LogFiles/Server/GalaxySMS.Distributor/GalaxySMS.Distributor-.log" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
    <!-- Number of log files to keep (or remove value to keep all files) -->
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.shared" value="true" />
    <!-- Create a new log file every Minute/Hour/Day/Month/Year/infinite -->
    <add key="serilog:using:MSSqlServer" value="Serilog.Sinks.MSSqlServer" />
    <add key="serilog:write-to:MSSqlServer.connectionString" value="Data Source=.\SQL2019DEV;Initial Catalog=GalaxySMS-Logging;Integrated Security=true;MultipleActiveResultSets=true;Encrypt=false" />
    <add key="serilog:write-to:MSSqlServer.schemaName" value="GCS" />
    <add key="serilog:write-to:MSSqlServer.tableName" value="SmsDistributorLogs" />
    <add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="false" />
    <add key="serilog:write-to:MSSqlServer.levelSwitch" value="Information" />
  </appSettings>
  <GCS.messageQueue.messaging configSource="Messaging.config" />
  <!--<log4net configSource="log4net.config"></log4net>-->
  <connectionStrings>
    <add name="GalaxySMS" connectionString="Data Source=.\SQL2019DEV;Initial Catalog=GalaxySMS;Persist Security Info=True;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <PDSADataProviders>
    <providers defaultProvider="SqlClient">
      <add providerName="SqlClient" connectStringName="GalaxySMS" useStoredProcedures="true" useDBAuditTracking="true" type="PDSA.DataLayer.Providers.PDSADataSqlClient" assembly="PDSA.DataLayer,Culture=neutral" />
    </providers>
  </PDSADataProviders>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SPECSID.Shared" publicKeyToken="755fb195d57d73f3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.15.0" newVersion="1.1.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SmartCard" publicKeyToken="d368068d0805a1c4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.18.618" newVersion="5.0.18.618" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CardModule.CLICS" publicKeyToken="d368068d0805a1c4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.17.602" newVersion="1.0.17.602" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.0.0" newVersion="6.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.0.0" newVersion="6.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.22.0.0" newVersion="1.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.0.0" newVersion="6.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.0.0" newVersion="6.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomInspectorBehavior">
          <CustomInspectorBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="CustomInspectorBehavior" type="GCS.Core.Common.ServiceModel.Extensions.ApplicationUserSessionHeaderInspectorBehaviorExtension,GCS.Core.Common.ServiceModel" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="net.tcp://localhost:8010/AccountService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAccountService" />
      <endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationManagerService" />
      <endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerEventsService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationEventService" />
      <endpoint address="net.tcp://localhost:8010/AdministrationService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAdministrationService" behaviorConfiguration="CustomInspectorBehavior" />
      <endpoint address="net.tcp://localhost:8010/UserSessionService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IUserSessionService" behaviorConfiguration="CustomInspectorBehavior" />
      <endpoint address="net.tcp://localhost:8010/SystemManagementService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.ISystemManagementService" behaviorConfiguration="CustomInspectorBehavior" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
    <GalaxySMS.MessageQueue.Handler.Properties.Settings>
      <setting name="ServerAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>8000</value>
      </setting>
    </GalaxySMS.MessageQueue.Handler.Properties.Settings>
  </applicationSettings>
</configuration>