<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PDSALoggingProviders" type="PDSA.Logging.Configuration.PDSALoggingSectionHandler, PDSA.Logging, Culture=Neutral" />
    <section name="PDSADataProviders" type="PDSA.DataLayer.Configuration.PDSADataSectionHandler, PDSA.DataLayer, Culture=Neutral" />
  </configSections>

  <appSettings>
    <add key="EntityId" value="3" />
  </appSettings>

  <connectionStrings>
    <!--<add name="SqlClient"
    connectionString="Server=.\SQL2008R2DEV;Database=PDSAFramework500;Integrated Security=Yes"/>-->
    <add name="SqlClient" connectionString="Server=.\SQL2012DEV;Database=GalaxySMS;Integrated Security=Yes" />
  </connectionStrings>

  <PDSALoggingProviders>
    <providers defaultProvider="eventLog" applicationId="1" applicationName="Galaxy Communication Server">
      <add providerName="email" mode="Off" type="PDSA.Logging.Providers.PDSALogEmail" assembly="PDSA.Logging,Culture=neutral" logTypes="Informational;Exception;" logValueOnly="false" logSystemInfo="true" from="CommunicationServer@Galaxy.com" to="kshank@galaxysys.com" subject="Exception from Sample Application" SMTP="mail.galaxysys.com" />
      <add providerName="file" mode="Off" logSystemInfo="false" logTypes="Informational;Exception;Debug;Warning" logValueOnly="false" type="PDSA.Logging.Providers.PDSALogFile" assembly="PDSA.Logging,Culture=neutral" fileName="[AppPath]\ApplicationLog.txt" />
      <add providerName="eventLog" mode="Off" logSystemInfo="false" logTypes="Informational;Warning;Exception" logValueOnly="false" type="PDSA.Logging.Providers.PDSALogEventLog" assembly="PDSA.Logging,Culture=neutral" logName="Application" />
      <add providerName="Queue" mode="Off" logSystemInfo="false" logTypes="Informational;Warning;Exception" logValueOnly="false" type="PDSA.Logging.Providers.PDSALogQueue" assembly="PDSA.Logging,Culture=neutral" queueName=".\SampleQueue" />
      <add providerName="SqlServer" mode="Off" logSystemInfo="true" useStoredProcedures="true" logTypes="Informational;Exception;Debug;Audit;Warning;UserLogin;UserLogout;UserVisit" logValueOnly="false" type="PDSA.Logging.Providers.PDSALogSqlServer" assembly="PDSA.Logging.SqlServer,Culture=neutral" dataProviderName="SqlClient" />
    </providers>
  </PDSALoggingProviders>

  <PDSADataProviders>
    <providers defaultProvider="SqlClient">
      <add providerName="SqlClient" connectStringName="SqlClient" useStoredProcedures="true" useDBAuditTracking="false" type="PDSA.DataLayer.Providers.PDSADataSqlClient" assembly="PDSA.DataLayer,Culture=neutral" />
    </providers>
  </PDSADataProviders>
  <startup>
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>