<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GCS.AssaAbloyTestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ManagementInterfaceServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AccessControlInterfaceServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DsrSupportInterfaceServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>      
    </basicHttpBinding>    
    </bindings>
    <client>
      <!--<endpoint address="http://192.168.24.30:8080/dsr/Management" binding="basicHttpBinding" bindingConfiguration="ManagementInterfaceServiceSoapBinding" contract="DSRManagementService.ManagementInterface" name="ManagementInterfacePort"/>
      <endpoint address="http://192.168.24.30:8080/dsr/AccessControl" binding="basicHttpBinding" bindingConfiguration="AccessControlInterfaceServiceSoapBinding" contract="DSRAccessControlService.AccessControlInterface" name="AccessControlInterfacePort"/>-->
      <!--<endpoint address="http://63.122.126.135:8080/dsr/Management" binding="basicHttpBinding" bindingConfiguration="ManagementInterfaceServiceSoapBinding" contract="DSRManagementService.ManagementInterface" name="ManagementInterfacePort"/>
      <endpoint address="http://63.122.126.135:8080/dsr/AccessControl" binding="basicHttpBinding" bindingConfiguration="AccessControlInterfaceServiceSoapBinding" contract="DSRAccessControlService.AccessControlInterface" name="AccessControlInterfacePort"/>-->
    </client>  
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GCS.AssaAbloyTestApp.Properties.Settings>
      <setting name="UseHttps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DSRIPAddress" serializeAs="String">
        <value>192.168.24.12</value>
      </setting>
      <setting name="CallbackAddress" serializeAs="String">
        <value>192.168.19.10</value>
      </setting>
      <setting name="CallbackPort" serializeAs="String">
        <value>9091</value>
      </setting>
    </GCS.AssaAbloyTestApp.Properties.Settings>
  </userSettings>
</configuration>
