<?xml version="1.0" encoding="utf-8" ?>
<PDSALoggingProviders>
  <providers defaultProvider="eventLog"
             applicationId="1"
             applicationName="Galaxy Communication Server">
    <add providerName="email"
         mode="Off"
         type="PDSA.Logging.Providers.PDSALogEmail"
         assembly="PDSA.Logging,Culture=neutral"
         logTypes="Informational;Exception;"
         logValueOnly="false"
         logSystemInfo="true"
         from="CommunicationServer@Galaxy.com"
         to="kshank@galaxysys.com"
         subject="Exception from Sample Application"
         SMTP="mail.galaxysys.com"/>
    <add providerName="file"
         mode="Off"
         logSystemInfo="false"
         logTypes="Informational;Exception;Debug;Warning"
         logValueOnly="false"
         type="PDSA.Logging.Providers.PDSALogFile"
         assembly="PDSA.Logging,Culture=neutral"
         fileName="[AppPath]\ApplicationLog.txt"/>
    <add providerName="eventLog"
         mode="On"
         logSystemInfo="false"
         logTypes="Informational;Warning;Exception"
         logValueOnly="false"
         type="PDSA.Logging.Providers.PDSALogEventLog"
         assembly="PDSA.Logging,Culture=neutral"
         logName="Application"/>
    <add providerName="Queue"
         mode="Off"
         logSystemInfo="false"
         logTypes="Informational;Warning;Exception"
         logValueOnly="false"
         type="PDSA.Logging.Providers.PDSALogQueue"
         assembly="PDSA.Logging,Culture=neutral"
         queueName=".\SampleQueue"/>
    <add providerName="SqlServer"
         mode="On"
         logSystemInfo="true"
         useStoredProcedures="false"
         logTypes="Informational;Exception;Debug;Audit;Warning;UserLogin;UserLogout;UserVisit"
         logValueOnly="false"
         type="PDSA.Logging.Providers.PDSALogSqlServer"
         assembly="PDSA.Logging.SqlServer,Culture=neutral"
         dataProviderName="SqlClient"/>
  </providers>
</PDSALoggingProviders>
