<GCS.messageQueue.messaging defaultMessageQueueName="MSMQ">
  <messageQueues>
    <messageQueue name="MSMQ" type="GCS.Framework.MessageQueue.Messaging.Msmq.MsmqMessageQueue, GCS.Framework.MessageQueue.Messaging">
      <properties>
        <property name="MulticastAddress" value="234.1.1.3:8001" />
      </properties>
      <queues>
        <queue name="galaxypanelmessage" address=".\private$\galaxypanelmessage"/>
        <queue name="galaxypanelmessagedecoder" address=".\private$\galaxypanelmessagedecoder"/>
        <queue name="galaxypanelmessagerecorder" address=".\private$\galaxypanelmessagerecorder"/>
        <queue name="galaxypanelmessage-pub" address="FormatName:MULTICAST=234.1.1.3:8001"/>
        <queue name="galaxypanelmessagedecoder-sub" address=".\private$\galaxypanelmessagedecoder-sub"/>
        <queue name="galaxypanelmessagerecorder-sub" address=".\private$\galaxypanelmessagerecorder-sub"/>
        <queue name="galaxyjob" address=".\private$\galaxyjob"/>
      </queues>
    </messageQueue>
    <messageQueue name="ZeroMQ" type="GCS.Framework.MessageQueue.Messaging.ZeroMq.ZeroMqMessageQueue, GCS.Framework.MessageQueue.Messaging">
      <queues>
        <queue name="galaxypanelmessage" address="tcp://127.0.0.1:5554"/>
        <queue name="galaxypanelmessagedecoder" address="tcp://127.0.0.1:5555"/>
        <queue name="galaxypanelmessagerecorder" address="tcp://127.0.0.1:5556"/>
        <queue name="galaxypanelmessage-pub" address="pgm://127.0.0.1;239.192.1.1:5557"/>
        <queue name="galaxypanelmessagedecoder-sub" address="pgm://127.0.0.1;239.192.1.1:5557"/>
        <queue name="galaxypanelmessagerecorder-sub" address="pgm://127.0.0.1;239.192.1.1:5557"/>
        <queue name="galaxyjob" address="tcp://127.0.0.1:5558"/>
      </queues>
    </messageQueue>
  </messageQueues>
  <messages>
    <!--<message name="galaxypanelmessage" messageQueueName="ZeroMQ"/>
    <message name="galaxypanelmessagerecorder" messageQueueName="ZeroMQ"/>
    <message name="galaxypanelmessagedecoder" messageQueueName="ZeroMQ"/>-->
  </messages>
</GCS.messageQueue.messaging>