<?xml version="1.0" encoding="utf-8" ?>
  <bindings>
    <netTcpBinding>
      <binding maxReceivedMessageSize="2000000" transactionFlow="true"
               openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
        <reliableSession enabled="true" />
      </binding>
    </netTcpBinding>
  </bindings>
