<?xml version="1.0" encoding="utf-8" ?>
  <services>
    <service name="GalaxySMS.Business.Managers.AccountManager">
      <endpoint address="net.tcp://localhost:8009/AccountService"
                binding="netTcpBinding"
                contract="GalaxySMS.Business.Contracts.IAccountService"
                  />
    </service>
    <service name="GalaxySMS.Business.Managers.GalaxyPanelCommunicationManager">
      <endpoint address="net.tcp://localhost:8009/GalaxyPanelCommunicationService"
                binding="netTcpBinding"
                contract="GalaxySMS.PanelCommunication.Contracts.IGalaxyPanelCommunicationService"
                  />
    </service>  
  </services>

