<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GalaxySMS.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GalaxySMS.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <!--<client configSource="Configuration\system.serviceModel.client.config" />
    <bindings configSource="Configuration\system.serviceModel.bindings.config" />
    <behaviors configSource="Configuration\system.serviceModel.behaviors.config" />-->

    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomInspectorBehavior">
          <CustomInspectorBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  <extensions>
    <behaviorExtensions>
      <add name="CustomInspectorBehavior" type="GCS.Core.Common.ServiceModel.Extensions.ApplicationUserSessionHeaderInspectorBehaviorExtension,GCS.Core.Common.ServiceModel" />
    </behaviorExtensions>
  </extensions>

    <client>
      <endpoint address="net.tcp://localhost:8010/AccountService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAccountService" />
      <endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationManagerService" />
      <endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerEventsService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationEventService" />
      <endpoint address="net.tcp://localhost:8010/AdministrationService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAdministrationService" behaviorConfiguration="CustomInspectorBehavior" />
      <endpoint address="net.tcp://localhost:8010/UserSessionService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IUserSessionService" behaviorConfiguration="CustomInspectorBehavior" />
      <endpoint address="net.tcp://localhost:8010/SystemManagementService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.ISystemManagementService" behaviorConfiguration="CustomInspectorBehavior" />
    </client>
    <bindings>
      <!--<netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" transactionFlow="true" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <reliableSession enabled="true" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netTcpBinding>-->
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transactionFlow="true" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <reliableSession enabled="true" />
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>  
  </system.serviceModel>



  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All">
        <listeners>
          <add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e:\ClientServiceModelTraces.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e:\ClientMessageLoggingTraces.svclog" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="All">
        <listeners>
          <add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="e:\ClientSerializationTraces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <applicationSettings>
    <GalaxySMS.Admin.Properties.Settings>
      <setting name="Culture" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="UICulture" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="MaxReceivedMessageSize" serializeAs="String">
        <value>2147483647</value>
      </setting>
      <setting name="BackgroundSubduedOpacity" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="BackgroundSubduedBlur" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LicenseFilename" serializeAs="String">
        <value>GalaxySMS.Admin.license</value>
      </setting>
      <setting name="LicenseKey1" serializeAs="String">
        <value>MIIBKjCB4wYHKoZIzj0CATCB1wIBATAsBgcqhkjOPQEBAiEA/////wAAAAEAAAAAAAAAAAAAAAD///////////////8wWwQg/////wAAAAEAAAAAAAAAAAAAAAD///////////////wEIFrGNdiqOpPns+u9VXaYhrxlHQawzFOw9jvOPD4n0mBLAxUAxJ02CIbnBJNqZnjhE50mt4GffpAEIQNrF9Hy4SxCR/i85uVjpEDydwN9gS3rM6D0oTlF2JjClgIhAP////8AAAAA//////////+85vqtpxeehPO5ysL8YyVRAgEBA0IABDGhYr4eVRNxi9iYIYSM3+9+GvV3q63LdN6bULegmMzh4CZtFrujsfeOVdLpiAcyDD12hWtTQOHpMhWelmtZVy8=</value>
      </setting>
      <setting name="CustomerName" serializeAs="String">
        <value>The Acme Company</value>
      </setting>
      <setting name="CustomerEmail" serializeAs="String">
        <value>RoadRunner@Acme.com</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="AuthenticationType" serializeAs="String">
        <value>Application</value>
      </setting>
      <setting name="Servers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>localhost</string>
            <string>127.0.0.1</string>
            <string>.</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AllGoodBorderColor" serializeAs="String">
        <value>#FFE6E6E6</value>
      </setting>
      <setting name="NotGoodBorderColor" serializeAs="String">
        <value>#FFCC0000</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>8010</value>
      </setting>
      <setting name="UseLocalLicenseFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThumbnailWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ApiServerUrl" serializeAs="String">
        <value>http://localhost:38000</value>
      </setting>
      <setting name="SignalRServerUrl" serializeAs="String">
        <value>http://localhost:38000/signalr</value>
      </setting>
      <setting name="OpenDebugOnConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumberOfLoadRepliesToDisplay" serializeAs="String">
        <value>100</value>
      </setting>
    </GalaxySMS.Admin.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <GalaxySMS.Admin.Properties.Settings>
      <setting name="Theme" serializeAs="String">
        <value>Summer</value>
      </setting>
      <setting name="ThemeVariation" serializeAs="String">
        <value />
      </setting>
      <setting name="FlowDirection" serializeAs="String">
        <value>RightToLeft</value>
      </setting>
    </GalaxySMS.Admin.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SmartCard" publicKeyToken="d368068d0805a1c4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.18.618" newVersion="5.0.18.618" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CardModule.CLICS" publicKeyToken="d368068d0805a1c4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.17.602" newVersion="1.0.17.602" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
