<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <!--<client configSource="Configuration\system.serviceModel.client.config" />
    <bindings configSource="Configuration\system.serviceModel.bindings.config" />
    <behaviors configSource="Configuration\system.serviceModel.behaviors.config" />-->

    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomInspectorBehavior">
          <CustomInspectorBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="CustomInspectorBehavior" type="GCS.Core.Common.ServiceModel.Extensions.ApplicationUserSessionHeaderInspectorBehaviorExtension,GCS.Core.Common.ServiceModel" />
      </behaviorExtensions>
    </extensions>

    <client>
      <endpoint address="net.tcp://localhost:8010/AccountService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAccountService" />
      <endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationManagerService" />
      <endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerEventsService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationEventService" />
      <endpoint address="net.tcp://localhost:8010/AdministrationService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAdministrationService" behaviorConfiguration="CustomInspectorBehavior" />
      <endpoint address="net.tcp://localhost:8010/UserSessionService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IUserSessionService" behaviorConfiguration="CustomInspectorBehavior" />
      <endpoint address="net.tcp://localhost:8010/SystemManagementService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.ISystemManagementService" behaviorConfiguration="CustomInspectorBehavior" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="SmartCard" publicKeyToken="d368068d0805a1c4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.0.18.618" newVersion="5.0.18.618" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="CardModule.CLICS" publicKeyToken="d368068d0805a1c4" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.17.602" newVersion="1.0.17.602" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
