<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IdProducerLicenseGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IdProducerLicenseGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <IdProducerLicenseGenerator.Properties.Settings>
            <setting name="IdProducerUrl" serializeAs="String">
                <value>http://localhost:81</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>master@idproducer.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>master</value>
            </setting>
        </IdProducerLicenseGenerator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IdProducerLicenseGenerator.Properties.Settings>
            <setting name="urlSuffix" serializeAs="String">
                <value>/idProducer.BadgingServer/MasterService/JsonService_V2/</value>
            </setting>
            <setting name="devUrlSuffix" serializeAs="String">
                <value>/idProducer.BadgingServer/MasterService/JsonService_V2/</value>
            </setting>
        </IdProducerLicenseGenerator.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TimeZoneConverter" publicKeyToken="e20ab7d0d9479841" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>