<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!-- DbLocation is replaced with the correct location in the DataBaseHelper class -->
    <add name="NorthwindEntities" connectionString="metadata=          res://*/NorthwindEntities.csdl|          res://*/NorthwindEntities.ssdl|          res://*/NorthwindEntities.msl;          provider=System.Data.SqlServerCe.4.0;          provider connection string=&quot;data source=%DbLocation%\Northwind.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--If analyticsProductKey left blank, no tracking is performed-->
    <add key="analyticsProductKey" value="UA-111455-56" />
    <add key="DialogFlowAccessToken" value="280344fb165a461a8ccfef7e1bb47e65" />
    <add key="directLineSecret" value="Y_ly-If6haE.cwA.PQE.ZwOOsq4MlHcD3_YLFI-t9oW6L6DXMMBoi67LBz9WaWA" />
    <add key="directLineSecretHealthCare" value="yFLWlpeK3CI.cwA.YsY.zgUzyQ1lj2ELKwj7h2pdBqPyVQsf2zrY1DPJfWbWA3I" />
    <add key="botId" value="Botyo-BotTesting" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://converter.telerik.com/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="ServiceReference1.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime></runtime>
</configuration>