<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="PDSADataProviders" type="PDSA.DataLayer.Configuration.PDSADataSectionHandler, PDSA.DataLayer, Culture=Neutral" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="GCS.messageQueue.messaging" type="GCS.Framework.MessageQueue.Messaging.Configuration.MessagingConfiguration, GCS.Framework.MessageQueue.Messaging" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GalaxySMS.ServiceHost.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="GalaxySMS.ServiceHost.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="GalaxySMS" connectionString="Data Source=.\SQL2019DEV;Initial Catalog=GalaxySMS;Persist Security Info=True;Integrated Security=true;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
		<add name="GalaxySMSLogging" connectionString="Data Source=.\SQL2019DEV;Initial Catalog=GalaxySMS-Logging;Integrated Security=true;MultipleActiveResultSets=true" />
		<add name="GalaxySMS-Hangfire" connectionString="Data Source=.\SQL2019DEV;Initial Catalog=GalaxySMS-Hangfire;Integrated Security=true;MultipleActiveResultSets=true" />
	</connectionStrings>

	<PDSADataProviders>
		<providers defaultProvider="SqlClient">
			<add providerName="SqlClient" connectStringName="GalaxySMS" useStoredProcedures="true" useDBAuditTracking="false" type="PDSA.DataLayer.Providers.PDSADataSqlClient" assembly="PDSA.DataLayer,Culture=neutral" />
		</providers>
	</PDSADataProviders>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.serviceModel>
		<services>
			<service name="GalaxySMS.Business.Managers.AccountManager">
				<endpoint address="net.tcp://localhost:8010/AccountService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.IAccountService" />
			</service>
			<service name="GalaxySMS.Business.Managers.GalaxyPanelCommunicationManager">
				<endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.IGalaxyPanelCommunicationManagerService" />
				<endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerEventsService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.IGalaxyPanelCommunicationEventService" />
			</service>
			<service name="GalaxySMS.Business.Managers.AdministrationManager">
				<endpoint address="net.tcp://localhost:8010/AdministrationService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.IAdministrationService" />
			</service>
			<service name="GalaxySMS.Business.Managers.UserSessionManager">
				<endpoint address="net.tcp://localhost:8010/UserSessionService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.IUserSessionService" />
			</service>
			<service name="GalaxySMS.Business.Managers.SystemManagement">
				<endpoint address="net.tcp://localhost:8010/SystemManagementService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.ISystemManagementService" />
			</service>
			<service name="GalaxySMS.Business.Managers.PanelDataProcessingManager">
				<endpoint address="net.tcp://localhost:8010/PanelDataProcessingService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.IPanelDataProcessingService" />
			</service>
			<service name="GalaxySMS.Business.Managers.MercuryManagement">
				<endpoint address="net.tcp://localhost:8010/MercuryManagementService" binding="netTcpBinding" contract="GalaxySMS.Business.Contracts.IMercuryManagementService" />
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transactionFlow="true" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
					<reliableSession enabled="false" />
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
				</binding>
			</netTcpBinding>
			<basicHttpBinding>
				<binding name="ManagementInterfaceServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="AccessControlInterfaceServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="DsrSupportInterfaceServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>

		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="CustomInspectorBehavior">
					<CustomInspectorBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="CustomInspectorBehavior" type="GCS.Core.Common.ServiceModel.Extensions.ApplicationUserSessionHeaderInspectorBehaviorExtension,GCS.Core.Common.ServiceModel" />
			</behaviorExtensions>
		</extensions>
		<client>
			<endpoint address="net.tcp://localhost:8010/AccountService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAccountService" />
			<endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationManagerService" />
			<endpoint address="net.tcp://localhost:8010/GalaxyPanelCommunicationManagerEventsService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IGalaxyPanelCommunicationEventService" />
			<endpoint address="net.tcp://localhost:8010/AdministrationService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IAdministrationService" behaviorConfiguration="CustomInspectorBehavior" />
			<endpoint address="net.tcp://localhost:8010/UserSessionService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IUserSessionService" behaviorConfiguration="CustomInspectorBehavior" />
			<endpoint address="net.tcp://localhost:8010/SystemManagementService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.ISystemManagementService" behaviorConfiguration="CustomInspectorBehavior" />
			<endpoint address="net.tcp://localhost:8010/PanelDataProcessingService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IPanelDataProcessingService" behaviorConfiguration="CustomInspectorBehavior" />
			<endpoint address="net.tcp://localhost:8010/MercuryManagementService" binding="netTcpBinding" contract="GalaxySMS.Client.Contracts.IMercuryManagementService" behaviorConfiguration="CustomInspectorBehavior" />
		</client>
		<diagnostics>
			<messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="500" />
		</diagnostics>
	</system.serviceModel>

	<!--<PDSALoggingProviders configSource="Configuration\pdsa.loggingProviders.config">  
  </PDSALoggingProviders>-->

	<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="PDSACommonListener" switchName="PDSACommonSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="PDSACommonListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PDSACommon.log" />
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="All">
				<listeners>
					<add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\zTemp\LogFiles\HostServiceModelTraces.svclog" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="All">
				<listeners>
					<add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\zTemp\LogFiles\HostMessageLoggingTraces.svclog" />
				</listeners>
			</source>
			<source name="System.Runtime.Serialization" switchValue="All">
				<listeners>
					<add name="log" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\zTemp\LogFiles\HostSerializationTraces.svclog" />
				</listeners>
			</source>
			<source name="SignalR.SqlMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.ServiceBusMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.RedisMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.ScaleoutMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.Transports.WebSocketTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ServerSentEventsTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ForeverFrameTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.LongPollingTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.TransportHeartBeat">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.ReflectedHubDescriptorProvider">
				<listeners>
					<add name="SignalR-Init" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="PDSACommonSwitch" value="Information" />
			<!--Error,Info,Off,Verbose,Warning-->
			<add name="SignalRSwitch" value="Error" />
		</switches>
		<!-- Specifies the trace writer for output -->
		<sharedListeners>
			<!-- Listener for transport events -->
			<add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logfiles\SignalR-Transports.log.txt" />
			<!-- Listener for scaleout provider events -->
			<add name="SignalR-Bus" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logfiles\SignalR-Bus.log.txt" />
			<!-- Listener for hub discovery events -->
			<add name="SignalR-Init" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logfiles\SignalR-Init.log.txt" />
		</sharedListeners>
	</system.diagnostics>

	<!--<log4net configSource="log4net.config"></log4net>-->
	<GCS.messageQueue.messaging configSource="Configuration\Messaging.config" />

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.3.0" newVersion="2.4.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PDSA.DataLayer" publicKeyToken="e9345238070b4f6f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PDSA.Common" publicKeyToken="e9345238070b4f6f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.9.0" newVersion="5.0.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SmartCard" publicKeyToken="d368068d0805a1c4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.18.618" newVersion="5.0.18.618" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CardModule.CLICS" publicKeyToken="d368068d0805a1c4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.17.602" newVersion="1.0.17.602" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SPECSID.Shared" publicKeyToken="755fb195d57d73f3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.15.0" newVersion="1.1.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="TimeZoneConverter" publicKeyToken="e20ab7d0d9479841" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.47.1.0" newVersion="4.47.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.6" newVersion="6.0.0.6" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.25.0.0" newVersion="1.25.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.2.0" newVersion="1.6.2.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
			</dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.23.1.0" newVersion="6.23.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.24.0.0" newVersion="2.24.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.Sinks.PeriodicBatching" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<GalaxySMS.ServiceHost.Console.Properties.Settings>
   <setting name="CustomerName" serializeAs="String">
    <value>The Acme Company</value>
   </setting>
   <setting name="CustomerEmail" serializeAs="String">
    <value>RoadRunner@Acme.com</value>
   </setting>
  </GalaxySMS.ServiceHost.Console.Properties.Settings>
		<GalaxySMS.ServiceHost.Console.Settings>
			<setting name="baseHTTPUrl" serializeAs="String">
				<value>http://localhost:38000/</value>
			</setting>
			<setting name="baseHTTPSUrl" serializeAs="String">
				<value>https://localhost:38443/</value>
			</setting>
			<setting name="ApiLoggingEnabled" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DisableXmlFormat" serializeAs="String">
				<value>True</value>
			</setting>
		</GalaxySMS.ServiceHost.Console.Settings>
	</applicationSettings>
	<appSettings>
		<add key="sqlCommandTimeout" value="120" />
		<!--<add key="log4net.Internal.Debug" value="false" />-->
		<!--<add key="serilog:minimum-level" value="Information" />-->
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console" />
		<!--<add key="serilog:using:File" value="Serilog.Sinks.File" />-->
		<add key="serilog:write-to:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="%LOCALAPPDATA%/GCS/LogFiles/Server/GalaxySMS.ServiceHost.Console/GalaxySMS.ServiceHost.Console-.log" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
		<!-- Number of log files to keep (or remove value to keep all files) -->
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:File.shared" value="true" />
		<!-- Create a new log file every Minute/Hour/Day/Month/Year/infinite -->
		<add key="serilog:using:MSSqlServer" value="Serilog.Sinks.MSSqlServer" />
		<add key="serilog:write-to:MSSqlServer" />
		<add key="serilog:write-to:MSSqlServer.connectionString" value="Data Source=.\SQL2019DEV;Initial Catalog=GalaxySMS-Logging;Integrated Security=true;MultipleActiveResultSets=true;Encrypt=false" />
		<add key="serilog:write-to:MSSqlServer.schemaName" value="GCS" />
		<add key="serilog:write-to:MSSqlServer.tableName" value="SmsConsoleHostLogs" />
		<add key="serilog:write-to:MSSqlServer.autoCreateSqlTable" value="false" />
		<add key="serilog:write-to:MSSqlServer.levelSwitch" value="Information" />
	</appSettings>
</configuration>
